        <div class="col-4 mb-4">
            <div class="card">
                {% if property.filename %}
                    <img src="/images/properties/{{ property.filename }}" alt="card-img-top" style="width: 100%; height:auto;">
                {% else %}
                    <img src="{{ '/images/properties/images.jpg' }}" alt="card-img-top" style="width: 100%; height: auto;">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">
                            {{ property.title }} </a>
                    </h5>
                    <p class="card-text">{{ property.surface }}m², {{ property.adresse }}, {{ property.city }}</p>
                    <div class="text-primary"> {{ property.formattedPrice }} Fbu</div>
                </div>
            </div>
        </div>